body{
    background-color: rgb(245, 245, 245);
    margin: 0%;
    padding: 0%;
}
#parent1{
    background-color: rgb(255, 255, 255);
}
#head1{
    background-color: white;
    width: 98.87%;
    height: 50px;
    padding: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid black ;
}
#headimg1{
    position: relative;
    left: 45px;
}

#input-head1{
    width: 650px;
    height: 50px;
    border-radius: 30px;
    padding-left: 40px;
}
#headbut1{
    font-size: 15px;
    height: 40px;
    width: 60px;
    background-color: white;
}
#headbut1:hover{
    background-color: black;
    color: white;
}
#headbut2{
    font-size: 15px;
    height: 40px;
    width: 80px;
    background-color: white;
}
#headbut2:hover{
    background-color: black;
    color: white;
}
#headbut3{
    font-size: 15px;
    height: 40px;
    width: 60px;
    background-color: white;
}
#headbut3:hover{
    background-color: rgb(198, 198, 198);
    color: white;
    
}
#devara{
    padding-left: 60px;
    padding-right: 60px;
}
#part1{
    background-image: url(udemy_back.jpg);
    height: 400px;    
}
#part2{
    width: 380px;
    height: 220px;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    position: relative;
    top: 60px;
    left: 50px;
}
#part2butt{
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
background-color: rgb(38, 38, 38);
color: white;
border: rgb(231,231,231);
}
#part2butt:hover{
    background-color: black;
    color: white;
}
footer{
    padding-left: 60px;
    padding-right: 60px;
}#footh1, #footpara{
    display: inline;
}
#head2{
        width: 70%;
        padding-left: 60px;
        padding-right: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bolder;
        font-size: 20px; 
        color: rgb(75, 75, 75);
}
#spanH2{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
   
   
}
#spanH2:hover{
    color: black;
    text-decoration: underline;
}
#parent2{
    padding-left: ;
}

#parent2_head2{
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#parent2_button{
    background-color:rgb(230, 230, 230);
    border-radius:30px ;
    width: 180px;
    height: 60px;
    border:rgb(245, 245, 245);
}
#parent2_button:hover{
    background-color: rgb(48, 48, 48);
    color: white;
}
#parent2_button:active{
    background-color: black;
    color: white;
    
}
#butt1{
    font-weight: bolder;
    font-size: 15px;
}
#but2{
font-size: 10px;
}
#mainbali{
    vertical-align: top;
    
}
#bali{
    display: inline-block;
    margin-left: 50px;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid black;
  
}
#bali1{
    
    height: 200px;
    border-radius: 10px;
}
#bali2{
    padding-top: 10px;
   padding-left: 20px;
   
}
#balih4{
    display: inline;
}
#bali2span3{
    text-decoration: line-through;
}
#bali_button{
    font-size: 15px;
    width: 80px;
    height: 20px;
   
    background-color: rgb(213, 213, 98);
    border: 1px snow;
}
#parent2_lastbutt{
    margin-left: 50px;
    height: 50px;
    width: 350px;
    font-size: 20px;
    background-color: transparent;
}
#parent2_lastbutt:hover{
    background-color: rgb(188, 187, 187);
}
#label{
    width:  92.87%;
    background-color: white;
    height: 150px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
#label1{
    text-align: center;
    color: rgb(80, 80, 80);
    font-size: 20px;

}
#label2{
    display: flex;
    justify-content: space-around;
    
}
#label_downh1{
    padding-left: 50px;
}
#parent3_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#parent3a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-left: 50px;
    width: 530px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid blueviolet;
    padding: 20px;
    border-left:9px solid blueviolet;
}
#parent3a1{
padding-left: 10px;
padding-top: 10px;
}
#parent3as{
    font-size: 20px;
    font-weight: bold;
}
#parent3as_butt{
background-color: rgb(242, 242, 242);
border: 1px solid blueviolet;
width: 120px;
height: 25px;
font-size: 15px;
color: blueviolet;
text-align: center;
border-radius: 5px;
}
#parent3as2a{
    font-weight: bold;
    font-size: 17px;
    color: blueviolet;
}
#parent4_main{
    background-color: white;
    padding: 10px;
    
}
#parent4_head{
    margin-left:50px
}
#parent4_div1{
    border: 1px solid blueviolet;
    border-top: 11px solid blueviolet;
    border-radius: 10px;
    margin-left:50px;
   width: 420px; 
   height: 550px;
  display: inline-block;
}
#parent4_div1a{
    background-color:rgb(245, 245, 245) ;
    height: 90px;
    padding: 10px;
}
#parent4_div1aS{
    font-size: 16px;
}
#parent4_div1b{
    padding-left: 30px;
    padding-right: 30px;
}
#parent4_div1bS{
    font-size: 20px;
    font-weight: bold;
}
#parent4_div1bSright{
    font-size: 16px;
}
#parent4_div1b-butt{
    width: 380px;
    height: 50px;
    font-size: 18px;
    color: white;
    background-color: rgb(30, 30, 30);
    border: 1px solid white;
}
#parent5{
display: flex;
align-items: center;
justify-content: space-between;
padding-right: 60px;
}
#parent5A{
    padding: 80px;
    width: 500px;
    
}
#parent5a{
    width: 280px;
}
#parent5b{
   
    vertical-align: top;
}
#parent5ab{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#parent5butt{
    width: 160px;
    height: 60px;
    font-size: 18px;
    background-color: black;
    color: white;
}
#parent5butt:hover{
    background-color: rgb(81, 81, 81);
}
#footer{
    color: white;
    background-color: black;
    padding: 10px;
   
}

#footheader{
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
#footA{
    color: white;
   
    font-size: 18px;
}
#footA:hover{
    color:blueviolet;
    text-decoration: none;}


#spanfoot{
    
}
#footdiv{
    display: inline-block;
    padding: 40px;
   padding-left: 40px;
  font-size: 15px;
}